<div class="recipe_card w3-card-2 w3-hover-shadow w3-margin w3-tooltip" onclick="location.href='/pages/recipe_view.html'">
	<img src="/img/ingredients/meatloaf.jpg" alt="food image"> 
	<div class="w3-container w3-center">
		<p class="recipe_card_title">Meat Loaf</p> 
		<p class="recipe_card_des">This recipe is anything but regular old meatloaf! Everyone will love this moist version made in the slow cooker, with milk, mushrooms, and a little sage for extra flavor.</p> 
	</div>
</div>

<link rel="stylesheet" type="text/css" href="/components/recipe_card.css" media="screen" />
<script src="/components/recipe_card.js" type="text/javascript"></script>