/* Recipe Card Styles */
.recipe_card {
    display: inline-block;
    cursor: pointer;
    width: 250px;
    height: 260px;
}

.recipe_card_title {
    margin: 12px 0;
}

.recipe_card_des {
    margin: 0;
    font-size: 12px;
    overflow: hidden;
    width: 100%;
}

.recipe_card img {
    width: 100%;
}