<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="user_profile.css">
<script type="text/javascript" src="user_profile.js"></script>


<body class="w3-light-grey">

<!-- Sidenav/menu -->
<nav id="user-profile-menu" class="w3-sidenav w3-white profile-photo">
  <div class="w3-center">
  <img id="profile-photo" src="http://img.qq745.com/uploads/allimg/160916/7-1609161F211-51.jpg" class="w3-circle">
  </div>
  <hr>
  <div class="w3-container">
  <h5><b>User Profile</b></h5>
    <div class="w3-accordion">
            <a onclick="openList('information-list')" class="w3-text-black" id="open-button">
        User Information <i class="fa fa-caret-down"></i>
      </a>
      <div id="information-list" class="w3-accordion-content w3-padding-large w3-medium">
        <a href="#basic-info">Basic Information</a>
        <a href="#reset-pwd">Reset Password</a>
      </div>
    </div>
    <a href="#uploaded-recipes">Uploaded Recipes</a>
    <a onclick="openList('notification-list')" class="w3-text-black" id="open-button">
        Email Notification <i class="fa fa-caret-down"></i>
      </a>
          <div id="notification-list" class="w3-accordion-content w3-padding-large w3-medium">
        <a href="#notification-setting">Notification Setting</a>
        <a href="#email-list">Email List</a>
      </div>
    <div id="admin-page">
    <hr>
    <h5><b>Admin Page</b></h5>
    <!-- search user functionality -->
      <a href="#user-list">User List</a>
      <!-- search recipe functionality -->
      <a href="#recipes-list">Recipes Lists</a>
    </div>
  </div>

<!-- modified later, test only for now -->
<div class="w3-blue w3-margin-top">Test Admin page and User page</div>
  <div onclick="show('admin-page')" class="w3-hover-blue">admin</div>
  <div onclick="hide('admin-page')" class="w3-hover-blue">user</div>
</nav>

<section id="user-profile-content" class="w3-main">
  <section id="basic-info">
    <div id="Jane" class="w3-container person w3-card-2 w3-margin">
  <br>
  <img class="w3-round w3-animate-top profile-photo" src="http://img.qq745.com/uploads/allimg/160916/7-1609161F211-51.jpg">
  <h5>Basic Information</h5>
  <h5><b>User Name</b></h5>
  <div>Team02</div>
    <h5><b>Email</b></h5>
  <div>Team02@gmail.com</div><i class="w3-left fa fa-pencil"></i>
  <hr>
  <h5><b>Description</b></h5>
  <p id="description">DescriptionDescriptionDescriptionDescriptionDescriptionDescriptionDescriptionDescriptionDescriptionDescriptionDescriptionDescriptionDescriptionDescriptionDescriptionDescriptionDescriptionDescription DescriptionDescriptionDescriptionDescriptionDescriptionDescriptionDescriptionDescriptionDescriptionDescriptionDescription</p><i class="w3-left fa fa-pencil "></i>
</div>
  </section>
<section id="reset-pwd">
<h2><b>Rest Password Page</b></h2>
        <form class="w3-container w3-card-2 w3-margin">
        <div class="w3-section">
          <label><b>Old Password</b></label>
          <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Enter Old Password" name="old-pwd" required>
          <label><b>New Password</b></label>
          <!-- password pattern can be changed later -->
          <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Enter New Password" name="new-pwd" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
          <label><b>Repeat New Password*</b></label>
          <input id="repeated-pwd" class="w3-input w3-border" type="password" placeholder="Please Repeat New Password" name="repeat--new-pwd" onChange="checkPasswordMatch()" required>
        </div>
      </form>
</section>
<section id="uploaded-recipes">
  <h2><b>Uploaded Recipes</b></h2>
  <!-- need to modify later -->
<div class="w3-container">
</div>

<div class="w3-row-padding w3-margin-top">

<div class="w3-third">
<div class="w3-card-2">
<img src="http://img10.3lian.com/c1/newpic/10/24/21.jpg" style="width:100%">
<div class="w3-container">
<h4>5 Terre</h4>
</div>
</div>
</div>

<div class="w3-third">
<div class="w3-card-2">
<img src="http://img10.3lian.com/c1/newpic/10/24/21.jpg" style="width:100%">
<div class="w3-container">
<h4>Monterosso</h4>
</div>
</div>
</div>

<div class="w3-third">
<div class="w3-card-2">
<img src="http://img10.3lian.com/c1/newpic/10/24/21.jpg" style="width:100%">
<div class="w3-container">
<h4>Vernazza</h4>
</div>
</div>
</div>

</div>
</div>

</section>

<section id="notification-setting"></section>
<h2><b>Notifications Settings</b></h2>
<section id="email-list">
<h2><b>All Notifications</b></h2>
        <div id="rate-card" class="w3-padding-large w3-card-2 w3-white w3-round w3-margin"><br>
        <!-- need to be modifed and designed -->
        <p>Your Recipe is rated by Becky!</p>
      </div> 
              <div id="comment-card" class="w3-padding-large w3-card-2 w3-white w3-round w3-margin"><br>
        <!-- need to be modifed and designed -->
        <p>Your Recipe is commented by Cinny!</p>
      </div> 
                    <div id="modify-card" class="w3-padding-large w3-card-2 w3-white w3-round w3-margin"><br>
        <!-- need to be modifed and designed -->
        <p>Your Recipe is modified by Tenay!</p>
      </div> 
                          <div id="favorite-modify-card" class="w3-padding-large w3-card-2 w3-white w3-round w3-margin"><br>
        <!-- need to be modifed and designed -->
        <p>Your Favorite Recipe is modified by Morgan!</p>
      </div> 
</section>
</section>

</body>
</html>
