
.profile-photo{
  width:300px;  
}

#profile-photo{
    width:100px;
}

#admin-page{
    display: none;
}

#user-profile-content{
margin-left:340px;margin-right:40px;
}

#description{
    word-wrap: break-word;
}