body {
    height: 100vh;
    background: linear-gradient(180deg, rgba(255,255,255,0.9) 40%, #fff), url(/img/food.jpeg) repeat 0 0;
    background: -webkit-linear-gradient(270deg, rgba(255,255,255,0.9) 40%, #fff), url(/img/food.jpeg) repeat 0 0;
}

/* Layout styles */

.content {
    height: 100%;
}

.section_card {
    padding: 12px 16px;
}

/* Ingredient Button */

.ingredient_button {
    margin: 5px auto;
    text-decoration: none;
    display: inline-block;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    width: 52px;
    height: 52px;
}

.ingredient_button:hover {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.ingredient_button img {
    width: 32px;
    height: 32px;
}

.ingredient_button p {
    width: 100%;
    margin: 0;
    font-size: 10px;
    text-overflow: ellipsis;
}